{% extends 'todoapp/layout.html' %}


{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Обязательно к исполнению</h1>
    <h3 class="test_style">Приказы не обсуждаются</h3>
    <form class="ui form" action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Новый приказ</label>
            <input type="text" name="title" placeholder="Введите приказ к исполнению"><br>
        </div>
        <button class="ui blue basic button" type="submit">Приступить к выполнению</button>
    </form>

{% for todo in todo_list %}
<div class="ui segment">
    <p class="ui big header">№{{ todo.id }} {{ todo.title }}</p>

    {% if todo.is_complete == False %}
    <span class="ui red label">Приказ не выполнен</span>
    <a class="ui teal basic button" href="{% url 'update' todo_id=todo.id %}">Выполнить</a>
    {% else %}
    <span class="ui green label">Приказ выполнен</span>
    <a class="ui grey basic button" href="{% url 'update' todo_id=todo.id %}">Выполнить как положено</a>
    {% endif %}
    <a class="ui red basic button" href="{% url 'delete' todo_id=todo.id %}">Удалить</a>
</div>
{% endfor %}
</div>

{% endblock content %}
